/*
 * Main CSS Styles 
 * (c) Justus Languell 2020-2021
 */

.centered 
{
 margin:20px auto;
 text-align:center;
}

html{
  padding:0px;
  margin:0px;
}
body 
{
  background-color: #0a0a0c;
  padding: 0px;
  margin: 0px;
}

div
{
  margin: 0px;
  padding: 0px;
}

div.vis 
{
  /*margin: 10px 0px 20px 20px;*/
  border: 3px #657786 solid;
  margin-bottom: 20px;
  background-color: black;
}

.insidebar 
{
}

div.sidebar 
{
  margin:0px;
  padding: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

::-webkit-scrollbar 
{
  width: 12px;
}

::-webkit-scrollbar-track 
{
  background: #657786; 
}

::-webkit-scrollbar-thumb 
{
  border-radius: 10px;
  background: #1DA1F2; 
}

::-webkit-scrollbar-thumb:hover 
{
  border-radius: 10px;
  background: #0d659c; 
}

table 
{
  font-family:arial;
  border-collapse: collapse;
  padding: 0px;
}

table.mar 
{
  margin: 20px 20px 20px 20px; 
}

.msgtable 
{
  width: 960px;
  overflow-y:scroll;
  height:85%;
  display:block;
}

td 
{
  text-align: left;
  padding: 8px;
  color: white;
}

.msgtd 
{
  border-bottom: 2px solid #657786;
}

img 
{
  max-width: 250px;
  max-height: 250px;
}

span 
{
  width: 150px; 
  word-wrap:break-word; 
  display:inline-block;
}

.imp
{
  color: red;
}

h1 
{
  color:white;
  font-family: arial; 
  text-align:left; 
  margin: 0px; 
  padding: 0px;
  font-size: 200%; 
}

h2 
{
  color:#1DA1F2;
  font-family: arial; 
  text-align:left; 
  margin: 0px; 
  padding: 0px;
  font-size: 220%; 
}

p.text 
{
  color:white;
  font-size:120%;
  font-family: arial; 
  text-align:left; 
  margin: 0px; 
  padding: 0px;
}

code 
{
  color:white;
  font-size:12px;
  padding: 0px;
}

a 
{
  color:#1DA1F2;
  font-family:arial; 
}

a:hover 
{
  color:#0d659c;
  font-size:100%;
  font-family:arial; 
  text-align:left; 
}

div.editor 
{
  font-size: 14px;
  font-family:arial;
  color: black;
  margin: 0px;
  padding: 0px;
  border: 0px white solid;
  background-color: white;
  border-radius: 10px;
  height: 75px;
}

.inputW
{
  width: 473px;
}

.labels
{
  margin-left: 15px;
}

[contenteditable=true]:empty:before
{
  color: black;
  font-style:italic;
  content: attr(placeholder);
  pointer-events: none;
  display: block; 
}

input[type=text] 
{
  font-size: 14px;
  font-family:arial; 
  margin: 0px;
  padding: 10px;
  border: 2px white solid;
  width: 450px;
  border-radius: 10px;
}

input[type=submit] 
{
  font-family:arial; 
  font-size:130%;
  margin: 0px; 
  padding: 12px;
  border-radius: 35px;
  background-color: #1DA1F2;
  color: white;
  border: 2px #1DA1F2 solid;
}

input[type=submit]:hover 
{
  background-color: #0d659c;
  border: 2px #0d659c solid;
  font-family: arial ;
}

.btn-w 
{
  margin: 0px;
  padding: 0px;
  background-color: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: none;
}

.btn 
{
  font-family:arial; 
  font-size:130%;
  margin: 0px; 
  padding: 12px;
  border-radius: 35px;
  background-color: #1DA1F2;
  color: white;
  border: 2px #1DA1F2 solid;
}

.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
}