/*
 * Main CSS Styles for Documents
 * (c) Justus Languell 2020-2021
 */


/* Main Grid */

body 
{
    /*background-color: #0a0a0c;*/
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.grid-cont {
    border: 2px #657786 solid;
    min-width: 900px;
    display: grid;
    grid-template-columns: 180px 90% ;
    background-color: #0a0a0c;
    padding: 0px;
    margin: 0px;
}

.grid-item {
    background-color: black;
    padding: 10px; 
    border: 2px #657786 solid;
}

.inputs-cont {
    height: 104px;
    padding: 15px 0px 0px 10px;
}

.messages-cont {
    min-height: 400px;
    height: 62vh;
    overflow-x: hide;

    display: grid;
    grid-template-columns: 80% 20%;
}
.sidebar-cont
{
    grid-row: 1 / 5;
    padding: 15px 10px 10px 20px;
    overflow-x: scroll;
}

.tag-cont {
    padding: 0px 0px 0px 10px;
    height: 45px;
}


/* Message Grid */

.msgs-cont {
    overflow-y: scroll;

}
.ads-cont {
    overflow-y: scroll;
}

.msg-cont {
    grid-column: 1 / 2;
    border-top: 1px #657786 solid;
    width: 100;
    display: grid;
    grid-template-columns: 15% 40% 25%;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.highlight {
    border: 2px yellow solid;
}

.msg-item {
    padding: 10px; 
    overflow-x: wrap;
    overflow-wrap: break-word;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bottom-tags {
    width: 600px;
}

.cUser-cont {
    margin-left: 10px;
    grid-column: 1 / 4;
    margin-bottom: 15px;
}


/* Form Grid */

.form-cont {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.label-cont {
    padding: 0px;
    min-width: 10px;
}

.input-cont {
    padding: 0px;
}

.ttl-cont {
    padding: 5px 0px 0px 40px;
}

.post-cont {
    padding: 15px 0px 0px 40px;
}


/* Form */

.editor {
    color: black;
    margin: 0px;
    border: 0px white solid;
    padding: 0x;
    background-color: white;
    border-radius: 10px;
    height: 90px;
    width: 100%;
}

input[type=text] {
    margin: 0px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 10px;
    width: calc(100% - 22px);
}

.btn {
    font-family: arial;
    font-size: 150%;
    margin: 0px;
    padding: 10px;
    border-radius: 35px;
    background-color: #1DA1F2;
    color: white;
    border: 2px #1DA1F2 solid;
}

.btn:hover
{
    background-color: #0d659c;
    border: 2px #0d659c solid;

}

.btn:disabled
{
    background-color: #0d659c;
    border: 2px #0d659c solid;

}

.btn-wrap 
{
    margin: 0px;
    padding: 0px;
    background-color: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: none;
}

.upl-btn-wrap input[type=file] 
{
    font-size: 100px;
    position: absolute;
}

.upl-btn-wrap input[type=submit] 
{
    font-size: 100px;
    position: absolute;
}

.menu {
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 120%;
    padding: 10px;
    width: 120px;
}

.advert {
    padding: 0px;
    margin: 5px;
    border: 0px #1DA1F2 solid;
    max-width: 100%;
}

.advert:hover
{
    border: 0px #0d659c solid;
}

/* Text */

.btn-s {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 10px;

}

.web {
    background-color: #1DA1F2;
    border: 2px #1DA1F2 solid;
}

.web:hover
{
    background-color: #0d659c;
    border: 2px #0d659c solid;
}


.mail {
    border: 2px #228B22 solid;
    background-color: #228B22;
   
}

.mail:hover
{
    background-color: #006400;
    border: 2px  #006400 solid;
}

.ig {
    border: 2px #FD1D1D solid;
    background-color: #FD1D1D;
}

.ig:hover
{
    background-color: #ab0900;
    border: 2px  #ab0900 solid;
}

.git {
    border: 2px #6f42c1 solid;
    background-color: #6f42c1;
}

.git:hover
{
    background-color: #1b1f23;
    border: 2px  #1b1f23 solid;
}

.btc {
    border: 2px #f2a900 solid;
    background-color: #f2a900;
}

.btc:hover
{
    background-color: #4d4d4e;
    border: 2px  #4d4d4e solid;
}

.btci {
    font-size:32px;
    color:#F9F6EF;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
}

.blue {
    color: #1DA1F2;
}

.red {
    color: #F40009;
}

.verf {
    color: #1DA1F2;
    font-weight: bold;
    font-size: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

p.msg {
    color: white;
    font-size: 16px;
}

p.label {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

p.text {
    color: white;
}
.tiny {
    font-size: 12px;
}

a {
  color:#1DA1F2;
}

a:hover {
    color:#0d659c;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 14px;
}

img {
    max-width: 250px;
    max-height: 250px;
}


/* Scrollers */

/*
::-webkit-scrollbar 
{
  width: 12px;
}

::-webkit-scrollbar-track 
{
  background: #657786; 
}

::-webkit-scrollbar-thumb 
{
  border-radius: 10px;
  background: #1DA1F2; 
}

::-webkit-scrollbar-thumb:hover 
{
  border-radius: 10px;
  background: #0d659c; 
}
*/